body:is(.home) {
  .tours-carrousel {
    .dt-swiper-content-wrapper {
      border: 1px solid var(--DTTertiaryColor);
    }

    .dt-swiper-content-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;

      .dt-swiper-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .dt-swiper-content-image a img {
      width: 100%;
      object-fit: cover;
      height: 500px;
    }

    .swiper-slide {
      height: 100%;
      flex-wrap: nowrap;

      .dt-swiper-content-btn {
        width: 80%;
        padding: 15px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 16px;
      }

      .dt-swiper-content-title {
        max-width: 80%;
        margin: 16px auto;
        text-align: center;
        line-height: 1;

        a {
          font-size: clamp(1.5rem, 1vw, 2rem);
        }
      }
    }
  }
}

body.home .wpcf7 form.sent .wpcf7-response-output {
  display: none !important;
}
